comm==0.2.1
debugpy==1.8.0
Google-api-python-client==2.111.0
grpcio==1.64.1
intel-openmp==2021.4.0
ipykernel==6.28.0
ipython==8.19.0
Jupyter-client==8.6.0
llvmlite==0.42.0
Markdown==3.6
numba==0.59.1
prompt-toolkit==3.0.43
PyYAML==6.0.1
python-dateutil==2.9.0.post0
pyzmq==25.1.2
seaborn==0.13.2
setuptools==70.0.0
streamlit==1.35.0
tensorboard==2.16.2
tensorflow==2.16.1
tensorflow-hub==0.16.1
tensorflow-intel==2.16.1
tifffile==2024.4.18
